.titleAndFav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    padding-left:20px;
    font-size: 30px;
}
.heart{
    width: 30px;
    height: 30px;
    margin:5px;
    right:4px;
    fill: #aaaaaa;
    
}
.fav{
    fill:#ff9500;
}
.mainInfo{
    display: flex;
    flex-direction: row; 
}
.mainInfo img{
    height:450px;
    margin:0px 0px 0px 20px;
    border-radius: 12px; 
}  
.mainInfo dt{
    font-size: 18px;
    font-weight: 400;
}
.mainInfo dl{
    display:flex;
    margin:0px 20px 20px 20px;
    flex-direction: column;
    justify-content: center; 
}
